.App {
  text-align: center;
}

.App-header {
  background: #222;
  padding: 20px 10%;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App > button {
  margin: 40px 0;
  padding: 10px 25px;
  font-size: 1.5em;
}